# Backend PORT
PORT=

# Database Configuration
DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_CONNECTION_LIMIT =

# JWT secret keys
JWT_ACCESS_SECRET= 
JWT_ACCESS_EXPIRY=
JWT_REFRESH_SECRET= 
JWT_REFRESH_EXPIRY=
JWT_ALGORITHM = 

# rounds of bcrypt
bcryptSaltRounds=

# resend api - mail testing
RESEND_API_KEY=

#  Environment (production/testing/development)
NODE_ENV = 