@import "tailwindcss";

@theme {
  --color-page: var(--bg-page);
  --color-surface: var(--bg-surface);
  --color-sidebar: var(--bg-sidebar);
  
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-text-inverted: var(--text-inverted);
  
  --color-border-main: var(--border-main);
  
  --color-btn-primary: var(--btn-primary);
  --color-btn-primary-hover: var(--btn-primary-hover);
  --color-btn-text: var(--btn-text);
  
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

:root {
  color-scheme: light;
  --bg-page: #F5F7FA;
  --bg-surface: #FFFFFF;
  --bg-sidebar: #B8C9F7;
  
  --color-primary: #B8C9F7;
  --color-primary-dark: #a1b6f0;
  
  --text-main: #1A1A1A;
  --text-muted: #6B7280;
  --text-inverted: #FFFFFF;
  
  --border-main: #F3F4F6;
  
  --btn-primary: #1A1A1A;
  --btn-primary-hover: #111827;
  --btn-text: #FFFFFF;
}

.dark {
  color-scheme: dark;
  --bg-page: #121212;
  --bg-surface: #1E1E1E;
  --bg-sidebar: #1A1A1A;
  
  --color-primary: #8CA9F9;
  --color-primary-dark: #7b99ed;
  
  --text-main: #F9FAFB;
  --text-muted: #9CA3AF;
  --text-inverted: #1A1A1A;
  
  --border-main: #2C2C2C;
  
  --btn-primary: #F3F4F6;
  --btn-primary-hover: #E5E7EB;
  --btn-text: #1A1A1A;
}

body {
  background-color: var(--color-page);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}





/* Custom Calendar Icon to ensure visibility in all themes */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="%239CA3AF" d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"/></svg>');
  cursor: pointer;
}
